body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004080;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header nav a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: 500;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.formulario {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

.formulario form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: 500;
}

input, select, button {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

input:focus, select:focus {
    border-color: #004080;
    outline: none;
}

button {
    background-color: #004080;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00264d;
}

footer {
    background-color: #729bc4;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

/* Responsive */
@media (max-width: 500px) {
    .formulario {
        padding: 20px;
    }
}
